<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>teccas</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />
  <link rel="shortcut icon" href="/images/teccas.jpg" type="image/x-icon">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>








  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Teccas</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/home">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/dashboard">
          <i class="bi bi-menu-button-wide"></i><span>User</span><i class="bi  ms-auto"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/product-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Product</span><i class="bi  ms-auto"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/coupon-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Coupon</span><i class="bi  ms-auto"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/brand-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Brand </span><i class="bi  ms-auto"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/category-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Category</span><i class="bi  ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/order-dashboard" data-bs-target="#components-nav">
          <i class="bi bi-menu-button-wide"></i><span>Orders</span><i class="bi  ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/banner-dashboard" data-bs-target="#components-nav">
          <i class="bi bi-menu-button-wide"></i><span>Banner</span><i class="bi  ms-auto"></i>
        </a>
      </li>


    </ul>
    </ul>


  </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Edit Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Data</a></li>
          <li class="breadcrumb-item">product</li>
          <li class="breadcrumb-item active">Edit-product</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">


        <div class="col-lg-12">




          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3" action="/admin/edit-product?id=<%=product._id %>" method="post"
                enctype="multipart/form-data">
                <div class="row mt-2">
                  <% for (let i=0; i < product.productImages.length ; i++) { %>
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body profile-card pt-4">
                          <img src="<%=product.productImages[i]%>" alt="Profile"
                            style="max-width: 163px; margin-bottom: 5px;">
                        </div>
                        <button class="btn btn-danger" style="width: 6em;"> <a
                            href="/admin/deletImage?index=<%=i%>&productId=<%=product.id%>"
                            style="color: white;">delete</a> </button>
                      </div>
                    </div>
                    <% } %>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" name="productName"
                      placeholder="Product Name" value="<%= product.productName %>" >
                    <label for="productName">Product Name</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" value="<%= product.price%>" name="price" class="form-control"
                      id="floatingPassword" placeholder="Password">
                    <label for="price">Price</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input value="<%= product.quantity%>" type="text" class="form-control" id="floatingCity"
                        placeholder="Quantity" name="quantity">
                      <label for="Quantity">Quantity</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <select id="category" name="category" class="form-control" >
                      <option value="<%= product.category.name%>" selected >
                        <%= product.category.name%>
                      </option>
                      <% for (let i=0; i < category.length; i++) { %>
                        <option value="<%= category[i].name %>">
                          <%= category[i].name %>
                        </option>
                        <% } %>
                    </select>

                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-floating mb-3">
                    <select id="brand" name="brand" class="form-control" >
                      <option value="<%= product.brand.brandName %>" selected>
                        <%= product.brand.brandName%>
                      </option>
                      <% for (let i=0; i < brand.length; i++) { %>
                        <option value="<%= brand[i].brandName %>">
                          <%= brand[i].brandName %>
                        </option>
                        <% } %>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="col-lg-3">
                    <label for="image" class="col-sm-10">product image</label>
                  </div>
                  <div class="col-lg-12">
                    <input class="form-control" name="file" id="image" type="file" class="custom-file-input"
                      onchange="checkImageFileType()" multiple accept="image/*" type="file" id="formFile">
                  </div>
                </div>
                <div class="col-lg-12">
                  <input class="form-control" name="file" id="image" type="file" class="custom-file-input"
                    onchange="checkImageFileType()" multiple accept="image/*" type="file" id="formFile">
                </div>
              </div>
              <div class="col-lg-12">
                    <input class="form-control" name="file" id="image" type="file" class="custom-file-input"
                      onchange="checkImageFileType()" multiple accept="image/*" type="file" id="formFile">
                  </div>
                </div>



                <div class="col-12">
                  <div class="form-floating">
                    <input class="form-control" name="description" placeholder="Description"
                      value="<%= product.description%>" id="floatingTextarea" style="height: 100px;"></input>
                    <label for="floatingTextarea" name="description">Description</label>
                  </div>
                </div>



                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="cancel" class="btn btn-secondary">Cancel</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->










  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    function checkImageFileType() {
      const fileInput = document.getElementById("image");
      const filePath = fileInput.value;
      const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

      if (!allowedExtensions.exec(filePath)) {
        alert(
          "Invalid file type. Only JPG, JPEG, PNG, and GIF files are allowed."
        );
        fileInput.value = "";
        return false;
      }
    }
  </script>

  <script>

    const form = document.querySelector('form');
    const productNameInput = document.getElementById('floatingName');
    const priceInput = document.getElementById('floatingPassword');
    const quantityInput = document.getElementById('floatingCity');
    const categorySelect = document.getElementById('category');
    const brandSelect = document.getElementById('brand');
    const fileInput = document.getElementById('image');
    const descriptionInput = document.getElementById('floatingTextarea');


    form.addEventListener('submit', (event) => {

      event.preventDefault();


      if (productNameInput.value.trim() === '') {
        alert('Please enter a product name.');
        productNameInput.focus();
        return;
      }


      if (priceInput.value.trim() === '' || isNaN(priceInput.value.trim())) {
        alert('Please enter a valid price.');
        priceInput.focus();
        return;
      }


      if (quantityInput.value.trim() === '' || isNaN(quantityInput.value.trim())) {
        alert('Please enter a valid quantity.');
        quantityInput.focus();
        return;
      }


      if (categorySelect.value === '') {
        alert('Please select a category.');
        categorySelect.focus();
        return;
      }


      if (brandSelect.value === '') {
        alert('Please select a brand.');
        brandSelect.focus();
        return;
      }




      if (descriptionInput.value.trim() === '') {
        alert('Please enter a description.');
        descriptionInput.focus();
        return;
      }

      form.submit();
    });

  </script>
  <script>
    function deleteImage(index, productId) {
      fetch(`/admin/deletImage?index=${index}&productId=${productId}`, {
        method: 'DELETE'
      })
        .then(response => {
          if (response.ok) {
            // Reload the page to show the updated product images
            window.location.reload();
          }
        })
        .catch(error => console.log(error));
    }

  </script>
</body>

</html>