<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>teccas</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link rel="shortcut icon" href="/images/teccas.jpg" type="image/x-icon">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Teccas</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/home">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/dashboard">
          <i class="bi bi-menu-button-wide"></i><span>User</span><i class="bi  ms-auto"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/product-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Product</span><i class="bi  ms-auto"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/coupon-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Coupon</span><i class="bi  ms-auto"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/brand-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Brand </span><i class="bi  ms-auto"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/category-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Category</span><i class="bi  ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/order-dashboard" data-bs-target="#components-nav">
          <i class="bi bi-menu-button-wide"></i><span>Orders</span><i class="bi  ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/banner-dashboard" data-bs-target="#components-nav">
          <i class="bi bi-menu-button-wide"></i><span>Banner</span><i class="bi  ms-auto"></i>
        </a>
      </li>


    </ul>
    </ul>


  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">












    <!--================ confirmation part start =================-->
    <section class="confirmation_part padding_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

          </div>
          <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details" style="background-color: #4154f1 !important;">
              <h4 style="color: white;">Order Info</h4>
              <ul>

                <li>
                  <p style="color: white;">order number</p><span style="color: white;">:
                    <%=orders._id.toString().substr(0, 5) %></span>
                </li>
                <li>
                  <p style="color: white;">date</p><span style="color: white;">: <%=orders.start_date.toDateString()%>
                      </span>
                </li>
                <li>
                  <p style="color: white;">total</p><span style="color: white;">: $ <%=orders.totalPrice%></span>
                </li>
                <li>
                  <p style="color: white;">payment methord</p><span style="color: white;">: <%=orders.paymentType %>
                      </span>
                </li>
                <li>
                  <p style="color: white;">Delivery Status</p>
                  <span style="color: white;">:


                    <% if (orders.is_delivered===false && orders.is_returned===0 && orders.user_cancelled==false &&
                      orders.admin_cancelled==false) { %>
                      pending
                      <% } else if (orders.is_delivered===true && orders.is_returned===0 && orders.user_cancelled==false
                        && orders.admin_cancelled==false) { %>
                        Delivered
                        <% } else if (orders.is_returned===1 && orders.user_cancelled==false &&
                          orders.admin_cancelled==false) { %>
                          Returned
                          <% } else { %>
                            Cancelled
                            <% } %>


                  </span>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details" style="background-color: #4154f1 !important;">
              <h4 style="color: white;">Billing Address</h4>
              <ul>
                <li>
                  <p style="color: white;">Street</p><span style="color: white;">: <%=orders.address[0].address%></span>
                </li>
                <li>
                  <p style="color: white;">city</p><span style="color: white;">: <%=orders.address[0].city%></span>
                </li>
                <li>
                  <p style="color: white;">District</p><span style="color: white;">: <%=orders.address[0].district%>
                      </span>
                </li>
                <li>
                  <p style="color: white;">postcode</p><span style="color: white;">: <%=orders.address[0].zip%></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details" style="background-color: #4154f1 !important;">
              <h4 style="color: white;">shipping Address</h4>
              <ul>
                <li>
                  <p style="color: white;">Street</p><span style="color: white;">: <%=orders.address[0].address%></span>
                </li>
                <li>
                  <p style="color: white;">city</p><span style="color: white;"> : <%=orders.address[0].city%></span>
                </li>
                <li>
                  <p style="color: white;">District</p><span style="color: white;">: <%=orders.address[0].district%>
                      </span>
                </li>
                <li>
                  <p style="color: white;">postcode</p><span style="color: white;">: <%=orders.address[0].zip%></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-lx-4">
            <div class="single_confirmation_details" style="background-color: #4154f1 !important;">
              <h4 style="color: white;">Items</h4>
              <ul style="color: white;">
                <%orders.item.forEach(item=> {%>
                  <li>
                    <p style="color: white;"><span style="color: white;">
                        <%=item.product.productName%>
                      </span></p><span><img style="width: 75px; height: 75px" class="rounded-circle"
                        src="<%=item.product.productImages[0]%>" style="height: 80px;width: 80px;" alt=""> </span>
                  </li>


                  <%})%>

              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="order_details_iner" style="background-color: #4154f1 !important;">
              <h3 style="color: white;">Bill</h3>
              <table class="table table-borderless">

                <thead>
                  <tr>
                    <th scope="col" style="color: white;" colspan="2">Product</th>
                    <!-- <th scope="col" colspan="2"></th> -->
                    <th scope="col" style="color: white;">Quantity</th>
                    <th scope="col" style="color: white;">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <%orders.item.forEach(item=> {%>
                    <tr>
                      <th colspan="2"><span style="color: white;">
                          <%=item.product.productName%>
                        </span></th>

                      <th> <span style="color: white;">x <%=item.quantity%></span></th>
                      <th> <span style="color: white;">$ <%=item.price*item.quantity%></span></th>
                    </tr>
                    <%})%>
                      <tr>
                        <th colspan="3" style="color: white;">Subtotal</th>
                        <th> <span style="color: white;">$ <%=parseInt(orders.totalPrice) %></span></th>
                      </tr>
                      <tr>
                        <th colspan="3" style="color: white;">shipping</th>
                        <th><span style="color: white;">0</span></th>
                      </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th scope="col" style="color: white;" colspan="3">Total</th>
                    <th style="color: white;" scope="col">$ <%=parseInt(orders.totalPrice) %>
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>



  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>