<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>teccas</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images/teccas.jpg" type="image/x-icon">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Teccas</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/home">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/dashboard">
          <i class="bi bi-menu-button-wide"></i><span>User</span><i class="bi  ms-auto"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/product-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Product</span><i class="bi  ms-auto"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/coupon-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Coupon</span><i class="bi  ms-auto"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/brand-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Brand </span><i class="bi  ms-auto"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/category-dashboard">
          <i class="bi bi-menu-button-wide"></i><span>Category</span><i class="bi  ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/order-dashboard" data-bs-target="#components-nav">
          <i class="bi bi-menu-button-wide"></i><span>Orders</span><i class="bi  ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/banner-dashboard" data-bs-target="#components-nav">
          <i class="bi bi-menu-button-wide"></i><span>Banner</span><i class="bi  ms-auto"></i>
        </a>
      </li>


    </ul>
    </ul>


  </aside>
  <!-- End Sidebar-->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>OrderTables</h1>
      <nav>
        <ol class="breadcrumb">

          <li class="breadcrumb-item">Order</li>
          <li class="breadcrumb-item active">Details</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr style="font-family: 'EB Garamond', serif">
                    <th scope="col">Order Count </th>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(let i=0;i<orders.length;i++){%>
                    <%if(orders[i].user_cancelled==true||orders[i].admin_cancelled==true){%>
                      <tr>
                        <th scope="row"><b>
                            <%=orders[i].orderCount%>
                          </b></th>
                        <th scope="row"><b>
                            <%=orders[i].userId.mobile%>
                          </b></th>
                        <td>
                          <div class="tm-status-circle cancelled">
                          </div>Cancelled
                        </td>
                        <td><b>
                            <%=orders[i].address[0].name%>
                          </b></td>
                        <td><b>
                            <%=orders[i].address[0].city%>
                          </b></td>
                        <td>
                          <a href="/admin/viewOrder?orderId=<%=orders[i]._id%>"
                            class="btn btn-primary btn-sm rounded-pill">view</a>
                          <%if(orders[i].admin_cancelled===false&&orders[i].is_delivered===false&&orders[i].user_cancelled===false){%>
                            <a href="/admin/cancelOrder?orderId=<%=orders[i]._id%>"
                              class="btn btn-danger btn-sm rounded-pill">Cancel</a>
                            <a class="btn btn-warning btn-sm rounded-pill"
                              href="/admin/orderStatus?orderId=<%=orders[i]._id%>">Delivered</a>
                              

                            <%}%>
                        </td>
                      </tr>
                      <%}else if(orders[i].is_delivered==true){%>
                        <tr>
                          <th scope="row"><b>
                              <%=orders[i].orderCount%>
                            </b></th>
                          <th scope="row"><b>
                              <%=orders[i].userId.mobile%>
                            </b></th>
                          <td>
                            <div class="tm-status-circle moving">
                            </div>Delivered
                          </td>
                          <td><b>
                              <%=orders[i].address[0].name%>
                            </b></td>
                          <td><b>
                              <%=orders[i].address[0].city%>
                            </b></td>
                          <td>
                            <a href="/admin/viewOrder?orderId=<%=orders[i]._id%>"
                              class="btn btn-primary btn-sm rounded-pill">view</a>
                            <%if(orders[i].admin_cancelled===false&&orders[i].is_delivered===false&&orders[i].user_cancelled===false){%>
                              <a href="/admin/cancelOrder?orderId=<%=orders[i]._id%>"
                                class="btn btn-danger btn-sm rounded-pill">Cancel</a>
                              <a class="btn btn-warning btn-sm rounded-pill"
                                href="/admin/orderStatus?orderId=<%=orders[i]._id%>">Delivered</a>

                              <%}%>
                          </td>
                        </tr>
                        <%}else{%>
                          <tr>
                            <th scope="row"><b>
                                <%=orders[i].orderCount%>
                              </b></th>
                            <th scope="row"><b>
                                <%=orders[i].userId.mobile%>
                              </b></th>
                            <td>
                              <div class="tm-status-circle pending">
                              </div>Pending
                            </td>
                            <td><b>
                                <%=orders[i].address[0].name%>
                              </b></td>
                            <td><b>
                                <%=orders[i].address[0].city%>
                              </b></td>
                            <td>
                              <a href="/admin/viewOrder?orderId=<%=orders[i]._id%>"
                                class="btn btn-primary btn-sm rounded-pill">view</a>
                              <%if(orders[i].admin_cancelled===false&&orders[i].is_delivered===false&&orders[i].user_cancelled===false){%>
                                <a href="/admin/cancelOrder?orderId=<%=orders[i]._id%>"
                                  class="btn btn-danger btn-sm rounded-pill">Cancel</a>
                                <a class="btn btn-warning btn-sm rounded-pill"
                                  href="/admin/orderStatus?orderId=<%=orders[i]._id%>">Delivered</a>

                             


                                <%}%>
                            </td>

                          </tr>
                          <%}%>
                            <%}%>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

 


  

  
</body>

</html>